*, body, button {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FAFAFA;
}
/* HEADER */

header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFF;
  border-bottom: 1px solid #DBDBDB;
}

.header-content {
  height: 28px;
  width: 100%;
  max-width: 935px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.logo-container {
  height: 100%;

  display: flex;
}

.logo-instagram {
  font-size: 20px;
  color: #000;
}

.logo-container .divider-column {
  width: 1px;
  height: 22px;
  background: #DBDBDB;
  margin: 0 10px;
}

.logo-container img {
  height: 100%;
  width: auto;
}

.header-content input {
  height: 100%;
  width: 215px;

  background: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;

  padding: .5rem;
  text-align: center;

  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.header-content input::placeholder {
  color: #979797;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav ul a {
  color: #000;
}

.nav-icon {
  font-size: 16px;
}

nav ul li:hover {
  filter: opacity(0.6);
}

/* CONTEÚDO */
.content {
  width: 100%;
  max-width: 935px;
  height: 100%;

  padding-top: 34px;

  display: flex;
  justify-content: space-between;
}

.content main {
  width: 614px;
}

/* STORIES */

.stories {
  height: 118px;
  max-width: 100%;

  display: flex;
  align-items: center;
  gap: 14px;

  overflow: auto;

  border-radius: 3px; 
  background: #FFF;
  border: 1px solid #DBDBDB;

  position: relative;
}

.stories button {
  width: 32px;
  height: 32px;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  background: transparent;

  position: absolute;
  bottom: 46px;
  right: 2px;
  z-index: 1;

  cursor: pointer;
}

.stories button:hover {
  filter: brightness(0.8);
}

.story-button {
  font-size: 32px;
  color: #FFF;
}

.story-container:nth-child(2) {
  margin-left: 18px;
  background: red;
}

.story-container {
  width: 66px;

  color: #262626;
}

.story-container p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin-top: 4px;
}

.story-img {
  width: 100%px;
  height: 66px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  background-image: url("assets/stories_background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.story-img img {
  height: 100%;

  border-radius: 50%;

  z-index: 0;
}

::-webkit-scrollbar {
  display: none;
  }

/* FEED */

.feed {
  width: 100%;

  margin-top: 24px;

  background: blue;
}

/* SIDEBAR */
.sidebar {
  width: 290px;
  /* height: fit-content; */

  margin-top: 20px;

  background: pink;
}